---
import Layout from "../layouts/Layout.astro";
import sglTruckingVideo from "../assets/SGL-Trucking-LTD.mp4";
import truckIcon from "../assets/truck.svg";
import hexagon from "../assets/hexagon.svg";
import canUsImage from "../assets/us-canada.png";
import trailersPic from "../assets/cropped-sgl-trailer.webp";
import blueTruckPic from "../assets/cropped-sgl-truck-3.webp";
import truckFleetPic from "../assets/cropped-sgl-TRUCK-6.webp";
import coolTruckPic from "../assets/cool-truck.avif";

import { Image } from "astro:assets";
---

<Layout title="SGL Trucking LTD. - Home">
  <!-- HERO -->
  <div class="text-white relative h-[100vh] w-full" id="hero">
    <video
      autoplay
      muted
      loop
      aria-label="DashCam footage of a truckers journey."
      class="absolute top-0 object-fill h-[100vh] w-full"
    >
      <source src={sglTruckingVideo} type="video/mp4" />
    </video>
    <div
      class="absolute bottom-0 h-[37vh] mb-1 w-full flex justify-center items-center flex-col text-center px-4"
    >
      <h1 class="text-4xl sm:text-6xl mb-2" id="hero-title">
        SGL TRUCKING LTD.
      </h1>
      <p class="text-base sm:text-xl font-light" id="hero-title">
        LOGISTICS AND TRUCKING COMPANY IN SURREY / DELTA, BRITISH COLUMBIA
      </p>

      <div
        class="flex flex-col sm:flex-row justify-center items-center h-full w-full max-w-[800px]"
      >
        <button
          class="border-2 bg-sky-500 text-base py-2 px-6 text-slate-50 transition-colors hover:bg-blue-500 rounded-3xl p-13 w-1/2 max-w-44 sm:mr-2"
        >
          Work with us</button
        >
        <button
          class="border-2 border-slate-200 text-base py-2 px-6 text-slate-50 transition-colors hover:bg-frosted-glass rounded-3xl p-13 mt-6 sm:mt-0 w-1/2 max-w-44 sm:ml-2"
        >
          Request a Quote</button
        >
      </div>
    </div>
  </div>
  <!-- HERO END -->

  <main class="h-auto text-stone-700 text-center">
    <div class="w-full bg-stone-100 py-12">
      <div class="m-auto p-4 max-w-[calc(100% - 2rem)] max-w-[800px]">
        <h2 class="text-4xl text-stone-800 pb-1">SGL Trucking Ltd.</h2>
        <h3 class="text-2xl text-stone-800">
          Dry Van Trucking Company situated in Surrey / Delta B.C.
        </h3>
        <br />

        <p class="mb-8">
          SGL Trucking Ltd. is a Logistics and Trucking company based in Surrey
          / Delta B.C. Canada. It was established in 2010, since this time we
          have acquired experienced, professional employees/drivers who are
          constantly thriving for excellence. Their motivation has quickly
          turned this company into one of the largest transportation companies
          in The Greater Vancouver Region.
        </p>
        <p>
          SGL trucking Ltd. thrives on meeting our customers' needs. Our
          experience have allowed us to provide our customers with reliable and
          on time service. SGL Trucking Ltd. understands that the transportation
          industry is constantly advancing and in order to remain competitive
          and effective we are continuously expanding our services.
        </p>
      </div>

      <div
        class="w-full flex justify-center max-h-96 px-8 sm:px-24 lg:px-48 mt-4"
      >
        <div class="swiper" data-swiper-autoplay={true}>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <Image
                class="w-full object-cover"
                src={blueTruckPic}
                alt="Shot of a blue SGL truck in the winter with haul in tow."
              />
            </div>
            <div class="swiper-slide">
              <Image
                class="w-full object-cover"
                src={truckFleetPic}
                alt="Line up shot of the SGL truck cabs"
              />
            </div>
            <div class="swiper-slide">
              <Image
                class="w-full object-cover"
                src={trailersPic}
                alt="Line up shot of the SGL dry van trailers plus a cab"
              />
            </div>
            <div class="swiper-slide">
              <Image
                class="w-full object-cover"
                src={trailersPic}
                alt="Line up shot of the SGL dry van trailers plus a cab"
              />
            </div>
            <div class="swiper-slide">
              <Image
                class="w-full object-cover"
                src={trailersPic}
                alt="Line up shot of the SGL dry van trailers plus a cab"
              />
            </div>
            <div class="swiper-slide">
              <Image
                class="w-full object-cover"
                src={trailersPic}
                alt="Line up shot of the SGL dry van trailers plus a cab"
              />
            </div>
            <div class="swiper-slide">
              <Image
                class="w-full object-cover"
                src={trailersPic}
                alt="Line up shot of the SGL dry van trailers plus a cab"
              />
            </div>
            <div class="swiper-slide">
              <Image
                class="w-full object-cover"
                src={trailersPic}
                alt="Line up shot of the SGL dry van trailers plus a cab"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full py-12 relative bg-stone-200 z-10">
      <div class="m-auto p-4 max-w-[calc(100% - 2rem)] max-w-[800px]">
        <h3 class="text-4xl text-center text-stone-800">
          Why choose SGL Trucking LTD?
        </h3>
        <br />
        <p>
          SGL Trucking has emerged as a leading international trucking company
          in Canada and the United States of America. By blending the latest in
          trucking and transport technology with the traditional values of
          quality services, on-time delivery and responding to the needs of the
          customer, our company has become the service carrier of choice. After
          all those years of work and dedication SGL Trucking has made their
          name in the International market as the most reliable Trucking
          Company. SGL Trucking Ltd. is the reliable source for all your
          trucking and transportation needs. We can handle all kind of loads
          whether its a dry trailor, thin wall trailer, heated trailer or any
          size and weight. We can manage your load and can deliver it anywhere
          in US and Canada. We have our own Truck and Trailor insurance;
          therefore, we got you covered, you don't have to worry about the load.
          Your load is in safe and secure hands.
        </p>
      </div>
      <div class="relative w-full">
        <Image
          class="absolute sm:min-w-fit right-0 translate-y-[-30rem] transform -z-10 opacity-35"
          src={canUsImage}
          alt="Image showing the connection of Canada and the US"
        />
      </div>
      <div class="m-auto p-4 max-w-[calc(100% - 2rem)] max-w-[800px]">
        <h3 class="text-4xl text-center text-stone-800">
          Freight all over the US and Canada.
        </h3>
        <br />
        <p>
          Our goal at SGL Trucking is to provide the highest level of
          transportation services as well as safe and timely deliveries, with
          fair and competitive pricing while providing a safe workplace for our
          employees and maintaining integrity, fairness and honesty with our
          customers and business partners.
        </p>
        <div class="w-full flex justify-center mt-4">
          <button
            class="bg-blue-600 text-base py-2 px-6 rounded text-slate-50 transition-colors hover:bg-blue-500"
            >Request a Quote</button
          >
        </div>
      </div>
    </div>

    <div class="w-full bg-stone-100 py-12">
      <div class="m-auto p-4 max-w-[calc(100% - 2rem)] max-w-[800px]">
        <h3 class="text-4xl text-center text-stone-800">
          Environmental Policy
        </h3>
        <br />
        <p>
          SGL Trucking Ltd. operates a fleet of trucks and trailers, it is vital
          that we abide by a strict environmental policy which helps us avoid
          leaving a disastrous and costly negative environmental impact for
          future generations and wildlife.
        </p>
      </div>

      <div class="flex flex-col sm:pt-0 mb-10">
        <div
          class="text-left mx-auto mb-4 p-4 pt-0 flex flex-col sm:flex-row min-w-[calc(100% - 2rem)] max-w-[800px]"
        >
          <div class="w-full sm:w-1/2 px-1.5 flex flex-col items-center pt-4">
            <div class="border-2 border-sky-500 rounded-full p-4">
              <Image
                src={hexagon}
                class="animate-spin-slow"
                width={56}
                draggable={false}
                alt="a hexagon"
              />
            </div>
            <h3 class="text-2xl text-center text-stone-800 pt-2">
              Company Expectations
            </h3>
            <br />
            <p class="text-base">
              Employment of a truck and trailer maintenance program which
              ensures used parts, waste oil and any other by-products are
              disposed of and recycled in a responsible manner. Our trucks are
              outfitted with all EPA (Environment Protection Agency) emissions
              control equipment to reduce carbon footprint. Our fleet is
              maximally maintained to ensure efficient operation. Our drivers
              are actively trained to employ our environmental policies.
              Conservation, reduction, reusing and recycling are used whenever
              possible along with our constant search of new technologies and
              innovative practices to limit waste and usage of resources.
            </p>
          </div>
          <div class="w-full sm:w-1/2 px-1.5 flex flex-col items-center pt-4">
            <div class="border-2 border-sky-500 rounded-full p-4">
              <Image
                src={truckIcon}
                class="animate-bounce-short"
                width={56}
                draggable={false}
                alt="a truck"
              />
            </div>
            <h3 class="text-2xl text-center text-stone-800 pt-2">
              Driver Expectations
            </h3>
            <br />
            <p class="text-base">
              Speeding is the number one source of poor fuel mileage and
              unnecessary carbon emissions that is within the driver's control.
              We encourage our drivers to drive at the posted speed limits. Our
              drivers are also directed to leave their trash in proper waste
              disposal containers and recycle bottles and other recyclables
              wherever possible while out on a trip.
            </p>
          </div>
        </div>
        <div>
          <button
            class="bg-amber-600 text-base py-2 px-6 rounded text-white transition-colors hover:bg-orange-500"
            >Read More
          </button>
        </div>
      </div>
    </div>
    <div class="h-[70vh] relative">
      <Image
        class="object-cover max-h-full h-full w-full fixed -z-10 bottom-0"
        src={coolTruckPic}
        alt="truck"
      />
    </div>
    <div class="w-full bg-sky-600 py-6 text-slate-50">
      <div class="m-auto p-4 max-w-[calc(100% - 2rem)]">
        <h3 class="text-3xl text-center mb-4">Are you looking for work?</h3>
        <h4 class="text-2xl text-center mb-4">We are hiring drivers!</h4>
        <p class="text-base">
          Do you have a Class 1 License with Air brake certificate?
          <br />
          Do you have relevant driving experience in US and Canada?
        </p>
        <div class="w-full flex justify-center mt-4">
          <button
            class="bg-amber-600 text-base py-2 px-6 rounded text-white transition-colors hover:bg-orange-500"
            >Apply Today</button
          >
        </div>
      </div>
    </div>
  </main>
</Layout>

<script src="../libs/Slider.js"></script>

<style>
  main {
    font-size: 20px;
    line-height: 1.6;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #hero-title {
    text-shadow: black 2px 2px 4px;
  }
</style>
